.venv/
library_cache.json
.md_temp/
data/

# Python bytecode and cache
__pycache__/
*.pyc
*.tmp
*.log
smtc_cover.jpg

test_music/
artist_covers/
playlist_covers/
Module tests/
artist_cover_test.py
.music-sync.json
.run.bat

build/
dist/
.vscode/
Lottie test/
